.jumbotron {
    background-image: url('../images/mountains-header.jpg') !important;
}

h1, .lead {
  color:white;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

.card-body p {
  font-size:1.3em;
}

.card {
  width: 46%;
  float: left;
  box-sizing: content-box;
  margin: 10px;
  height: 200px;
  text-align: center;
}