.jumbotron {
    background-image: url('../images/mountains-header.jpg') !important;
}

h1, .lead {
  color:white;
}

textarea, input {
  display: block;
  width: 100%;
  padding:10px;
  font-size:1em;
  border: 1px solid #ccc;
}
input#titleinput {
  height: 36px;
  margin:10px 0px;
}
textarea#bodyinput {
  height: 200px;
  margin:10px 0px;
}

.card-body p {
  font-size:1.3em;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width:450px;
  float: left;
  box-sizing: content-box;
  margin: 10px;
  height: 200px;
  text-align: center;
  background-color: #f2f2f2 !important;
}